<div x-data="{ open: false }">
  <a @click="open = true" title="View report" class="button is-white">
    <img src="{{ include.ico }}" alt="some">
  </a>
  <div class="modal" :class="{ 'is-active': open }">
    <div class="modal-background" @click="open = false"></div>
    <div class="modal-content"  style="min-width: 92vw; min-height: 92vh">
      <iframe src="{{ 'reports/' | append: include.link | absolute_url }}" class="box modal-card" style="min-width: 92vw; min-height: 92vh"></iframe>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="{ open = false }"></button>
  </div>
</div>
